<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/pages/head.ejs %>
  </head>
  <body>
    <% include partials/pages/header.ejs %>

    <div class="container" style="margin-top:70px">
      <h1 style="color: white">Welcome <%= emailid %></h1>
    </div>

	  <% include partials/pages/footer.ejs %>
	
	  <% include partials/pages/jsdefaults.ejs %>

  </body>
</html>