<header>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
        	<div class="container">
            	<div class="navbar-header">
                	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    	<span class="sr-only">Toogle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand">Sun-Soft Technologies</a>
                </div>
                <div class="navbar-collapse collapse">
                	<ul class="nav navbar-nav navbar-right">
                    	<li class="active"><a href="/">Home</a></li>
                        <li><a href="login">Login</a></li>
                        <li class="dropdown">
                        	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Themes<b class="caret"></b></a>
                        	<ul class="dropdown-menu">
                            	<li class="dropdown-header">Admin and Dashboard</li>
                                <li class="dropdown"><a href="#">Admin 1</a></li>
                                <li><a href="#">Admin 2</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Portfolio</li>
                                <li><a href="#">Portfolio 1</a></li>
                                <li><a href="#">Portfolio 2</a></li>
                            </ul>
                        </li>
                        <li><a href="/signup" data-toggle="modal">Sign Up</a></li>
                    </ul>
                </div>
            </div>
        </div>
</header>